body {
    background-image: linear-gradient(to right, #2af598 0%, #009efd 100%);
}

label {
    width: 180px;
    clear: left;
    text-align: right;
    padding-right: 10px;
}

input, label {
    float: left;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.class-form {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.class-submit {
    background-color: rgb(207, 144, 28);
    border: none;
    padding: 16px 120px;
    margin: 4px 2px;
    cursor: pointer;
}

.anchor{
    text-align: center;
}

