DB
settings.json

# Admin-panel
# URL of admin panel: http://localhost/ard/Sharadiya/Admin-panel/index.html
# Admin id: admin@gmail.com
# Admin password: admin

# Inspiration 
# https://dribbble.com/shots/3894493-Contact-form-submit-animation/attachments/10081713?mode=media



# https://www.tutorialspoint.com/How-to-write-PHP-script-by-using-MySQL-JOINS-inside-it-to-join-two-MySQL-tables
# https://www.codexworld.com/upload-multiple-images-store-in-database-php-mysql/


# Dependency
# 1) Session not working probably due to not storing everything in a SESSION variable in HTML page
# 2) Path issues 

# Feature to be added
# 1)Email
