/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Signika+Negative:wght@700&family=Ubuntu:wght@700&display=swap');

:root{
    --primary-font: 'Signika Negative', sans-serif;
    --secondary-font: 'Josefin Sans', sans-serif;
    --primary-color: background: rgb(232,148,79);
                     background: linear-gradient(90deg, rgba(232,148,79,1) 0%, rgba(255,120,108,1) 100%, rgba(0,212,255,1) 100%);
}

*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color) !important;
}

label {
    background-color: white !important; 
    display: inline-block;
    width: 200px;
    font-weight: bold;
}

input {
    background-color: white !important; 
    padding: 5px 10px;
    border-radius: 15px;
}

input[type=submit], input[type=reset] {
    background-color: #e1801f !important;
    width: 100px;
    border: none;
    color: white;
}

.main-container{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 26px 32px 0px rgba(0,0,0,0.49);
    padding: 2rem 2rem;
    text-align: center;
    background-color: white !important; 
    height: 700px;
    width: 1000px;
}

.text-container, .images-container {
    background-color: white !important; 
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

p{
    background-color: white !important; 
    font-size: 3rem;
    font-weight: bold;
}

form {
    background-color: white !important; 
}