/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Signika+Negative:wght@700&family=Ubuntu:wght@700&display=swap");

:root {
  --primary-font: "Signika Negative", sans-serif;
  --secondary-font: "Josefin Sans", sans-serif;
}

body {
  background: rgb(232, 148, 79);
  background: linear-gradient(
    90deg,
    rgba(232, 148, 79, 1) 0%,
    rgba(255, 120, 108, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form-main-container {
  border-radius: 10px;
  background-color: white;
  height: 630px;
  width: 700px;
  justify-content: center;
  box-shadow: 10px 26px 32px 0px rgba(0, 0, 0, 0.49);
  margin-bottom: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

form {
  margin-left: 80px;
}

label {
  background-color: white !important;
  display: inline-block;
  width: 200px;
  font-weight: bold;
}

input {
  background-color: white !important;
  padding: 5px 10px;
  border-radius: 15px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #e1801f !important;
  width: 100px;
  border: none;
  color: white;
  position: relative;
  display: block;
}

input[type="submit"]:hover {
  background-color: #e1801f !important;
  width: 200px;
  border: none;
  color: white;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
}

.upl {
  position: absolute;
  margin-left: 200px;
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
}

#aa {
  color: black;
  text-decoration: underline;
}

/* Services page */
.upl1 {
  position: absolute;
  margin-left: 200px;
  margin-top: 60px;
}

#sel {
  width: 210px;
  background-color: white !important;
  padding: 5px 10px;
  border-radius: 15px;
  border: solid 2px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* admin-confirmation page CSS */
.form-main-container1 {
  margin-top: 50px;
  border-radius: 10px;
  background-color: white;
  height: 630px;
  width: 700px;
  justify-content: center;
  box-shadow: 10px 26px 32px 0px rgba(0, 0, 0, 0.49);
}

.pmessage {
  background-color: white !important;
  font-size: 2rem;
  font-weight: bold;
}

.backtohome {
  background-color: #e1801f !important;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 18px 11px 44px -10px rgba(0, 0, 0, 0.72);
}

.backtohome:hover {
  background-color: maroon !important;
  transition: all 0.7s;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 18px 11px 44px -10px rgba(0, 0, 0, 0.72);
}
