/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Signika+Negative:wght@700&family=Ubuntu:wght@700&display=swap");

:root {
  --primary-font: "Signika Negative", sans-serif;
  --secondary-font: "Josefin Sans", sans-serif;
}

body {
  background: rgb(232, 148, 79);
  background: linear-gradient(
    90deg,
    rgba(232, 148, 79, 1) 0%,
    rgba(255, 120, 108, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.main-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  margin-right: 5%;
  margin-left: 15%;
}

#thumbnail {
  border-radius: 5px;
  width: 60%;
  height: 60%;
  margin-bottom: 30px;
}

p {
  width: 60%;
  height: 60%;
  font-weight: 600;
}

#bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 9px;
  background: #bfe23f;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 15px;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #1a8f27;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #c3d900;
}

@media screen and (min-width: 401px) and (max-width: 700px) {
  .main-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
